

<div class="container">
  <h1>Gestion des tâches</h1>

  <!-- Formulaire d'ajout de tâche -->
  <form>
    <app-add-task (onAddTask)="addTask($event)"></app-add-task>
  </form>

  <!-- Liste des tâches -->
  <div class="task-list" *ngIf="tasks && tasks.length > 0">
    <div *ngFor="let task of tasks" class="task-item" [ngClass]="{ 'completed': task.completed }">
      <div class="task-details">
        <strong>{{ task.text }}</strong><br>
        <small>{{ task.day }}</small>
      </div>

      <div class="task-buttons">
        <input type="checkbox" (change)="toggleComplete(task)" [checked]="task.completed"> Set Reminder
        <button (click)="toggleComplete(task)" class="btn yellow-btn">✔️ Marquer comme terminé</button>
        <button (click)="editTask(task)" class="btn green-btn">Modifier</button>
        <button (click)="deleteTask(task)" class="btn red-btn">Supprimer</button>
      </div>
    </div>
  </div>
</div>








